body {
  margin: 0;
}

#header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  background-color: rgb(255, 76, 76);
}

#header > h1 {
  font-size: 30px;
}

#header > ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
  font-size: 30px;
}

textarea {
  resize: none;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 40px 200px 0px 200px;
  align-items: center;
  min-height: calc(100vh - 62.4px - 175px);
}

#content img {
  height: 300px;
  width: 300px;
}

#content > ul {
  padding-left: 0px;
}

#content > ul > li {
  font-size: 50px;
  list-style-type: none;
}

#footer {
  background-color: black;
  color: white;
  padding: 20px 0px 20px 0px;
  font-size: 20px;
}

#footer > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}





/* NYA TEMPORÄRA // Jonas */

.cart-div-column {

  border: 0px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
  
}


.cart-div-row {

  display: flex;
  flex-direction: row;
  border: 0px solid #000;


}

.cart-div-img {

  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  width: 50px;
  height: 80px;

}

.cart-div-column input {

  width: 30px;

}

























































































































































































.item-div {

display: block;
width: 500px;
border: 1px solid #000;
padding: 12px;
margin-bottom: 30px;

}


.item-div div {

  display: inline;

  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}
